{{ define "layout" }}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title"}}</title>
  </head>
  <body>
    {{ template "body" . }}
    <footer>Made with &#10084 by Michael Debétaz @ Datafame.ch</footer>
  </body>
</html>

{{ end }}
